{% assign locale = site.data.lang[page.lang] %}

<div class="card" style="margin-top: 2em; border: none;">
 <div class="row no-gutters">
  <div class="col-sm-7"> <!-- materials list -->
   <div class="card-body">
    <!--<h4 class="card-title">Supporting Materials</h4>-->

    <!-- materials for training-->
    <ul>
     {% if include.session.material %}
     {% for m in include.session.material %}
	 <li><strong>{{m.type }}: </strong><a href="{% unless m.external %}{{site.materials.url_prefix}}{% endunless %}{{m.link}}{% include analytics.html %}">{{m.title | default: include.session.name }} </a></li>

     {% endfor %}
     {% endif %}

     <!-- video -->
     {% if session.video %}
	 <li><strong>{{ locale['video'] }}: </strong><a href="{{site.video.url_prefix}}/{{include.session.video.link}}{% include analytics.html %}">{{ locale['watch-on'] }} {{site.video.platform}}</a></li>
     {% endif %}

     <!-- FAQ -->
     {% if include.session.faq %}
     <li><a href="{{session.faq}}{% include analytics.html %}">{{ locale['faq'] }}</a> - {{ locale['faq-question'] }}</li>
     {% endif %}

     <!-- support -->
	 <li><a href="{{include.session.support_link }}{% include analytics.html %}">{{ locale['ask-an-instructor'] }}</a> - {{ locale['ask-them-on'] }} {{ site.support.platform }}! {% if session.support_channel %} ({{ locale['channel'] }}: <a href="{{include.session.support_link}}{% include analytics.html %}">{{session.support_channel}}</a> ){%endif%} </li>


     <!-- feedback -->
	 <li><strong>{{ locale['finished'] }}</strong> - {{ locale['finished-text'] }} {{ locale['on-slack'] }}: {% if session.support_channel %} ({{ locale['channel'] }}: <a href="{{include.session.support_link}}{% include analytics.html %}">{{session.support_channel}}</a> ){%endif%}. {{ locale['thanks'] }}</li>

     <!-- don't forget to like and subscribe! -->
	 <li><strong>{{ locale['enjoyed'] }}</strong> - {{ locale['enjoyed-actions'] }} <a href="https://twitter.com/{{ site.twitter_username }}{% include analytics.html %}">@{{ site.twitter_username }}</a> </li>

    </ul>
   </div><!-- end card body -->
  </div><!-- end materials list -->

  <!-- logo -->
  <div class="col-sm-5">
   <div style="position: relative;top: 50%;transform: translateY(-50%);">
    <img class="card-img" src="{{site.baseurl}}/{{site.materials.logo}}" alt="GTN logo">
   </div>
  </div>
  <!-- end logo -->

 </div>
</div><!-- end card -->

